[Desktop Entry]
Name=Pomodora
Comment=Pomodoro Timer Activity Tracker
Exec=/home/jon/dev/pomodora/run.sh
Icon=/home/jon/dev/pomodora/icon.png
Terminal=false
Type=Application
Categories=Productivity;Utility;